html {
    font-family: helvetica;
    background-color: #ddd;
}

.container {
    max-width: 1100px;
    background-color: #fff;
    position: relative;
    margin: 50px auto;
    padding: 20px 50px;
}

.bold {
    font-weight: bold;
}

/* feito por conta pq as imagens eram grandonas */
img {
    width: 50%;
    height: auto;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.main-title {
    font-size: 40px;
}

.main-paragraph {

    font-style: italic;
}

/* imagem destaque centraliza*/
.featured-image {
    text-align: center;
    margin-top: 30px;
}

/* Biografia */
.biography-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

/* quotes */
.quotes-container {
    background-color: #ddd;
    padding: 30px;

}

.quotes-container blockquote {
    font-weight: bold;
    font-size: 30px;
}

.quotes-container p {

    font-style: italic;
}

/* curiosidades */
.curiosities-container {
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
}

.curiosities-container li {
    height: 30px;
}

.curiosities-container ul {
    list-style-position: inside;
    text-align: center;
}

body,
.main-title,
.paragraph,
.biography-container,
.quotes-container,
.curiosities-container,
.moreinfo-container {
    text-align: center;
}
footer {
    background-color: rgb(94, 94, 94);
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;

}
